@charset "UTF-8";

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}
body {
    min-width: 1280px;
}
:root {
    font-family: 'Noto Sans KR', sans-serif, 'Nanum Gothic', sans-serif, 'Nanum Gothic Coding', monospace;
    font-size: 16px;
    line-height: 1.4em;
    word-wrap: break-word;
    word-break: keep-all;
    word-spacing: -1.6px;
    --pink: #FD33A7;
    --lightPink: #FBE3F1;
    --ligthPink2: #FFF9FB;
    --line: #4A4A4A;
    --ligthGray: #969696;
    --blue: #8FC7E8;
    --mint: #8DDBE0;
    --oreng: #FFA552;
    --red: #FD5D76;
    --puple: #A764FF;
}
li {
    list-style: none;
}
a, a:visited {
    text-decoration: none;
    color: #000;
}
h1 {
    font-size: 2.625rem;
    font-weight: 600;
}
h2 {
    font-size: 2.5rem;
    font-weight: 600;
}
h3 {
    font-size: 2rem;
    font-weight: 500;
}
h4 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.5rem;
}
.containner {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.scrolling {
    position: relative;
}
section {
    display: flex;
    justify-content: center;
    padding: 100px 0 0 0;
    margin-bottom: 0 !important;
}
.inner {
    width: 1200px;
    height: 100%;
    padding: 30px 0px;
    gap: 30px;
    display: flex;
    justify-content: center;
}

/* 헤더 */
header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    z-index: 1000;
    position: sticky;
    top: 0;
    left: 0;
    background: #fff;
    position: relative;
}
header .inner {
    flex-direction: row;
    align-items: center;
    padding: 0;
}
.logo {
    text-indent: -99999px;
    background: url(/cjculture/logo.png) no-repeat 50% 50% / cover;
    min-width: 218px;
    height: 55px;
}
.gnb, .gnb ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    z-index: 500;
}
.gnb ul li {
    width: 100%;
    height: 100%;
    position: relative;
}
.gnb ul > li > a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 1.25rem; 
    font-weight: 600;
    text-align: center;
    line-height: 100px;
    position: relative;
}
.gnb ul > li:hover > a::after {
    transform: scale(1, 1);
}
.gnb > ul > li > a::after {
    display: block;
    content: "";
    transform: scale(0, 1);
    width: 100%;
    height: 3px;
    background: var(--pink);
    position: absolute;
    bottom: 0;
    transition: all .3s ease;
}
.mClose, .mMenu {
    cursor: pointer;
    font-size: 2.25rem;
}
.mClose {
    display: none;
}
/* 서브 */
.gnb ul li .snb {
    position: absolute;
    top: 100px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 400px;
    background: #fff;
    gap: 0;
}
.gnb ul li .snb li {
    height: 40px;
}
.gnb ul li .snb a {
    height: 40px;
    line-height: 40px;
    font-size: 0.95rem;
    font-weight: 400;
    z-index: 100;
    color: var(--line);
}
.gnb ul li .snb li:hover a {
    color: var(--pink);
}
.snbbg {
    background: #fff;
    height: 400px;
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0;
}

/* 컨텐츠 */
/* 섹션1 */
.sec01 {
    padding: 0;
    background: linear-gradient(180deg, #DEE8F5 0%, #FFF9FB 100%);
    position: relative;
}
.sec01 .inner {
    align-items: flex-start;
    padding: 15% 0 0 0;
}
/* 스와이퍼 */
.sec01 .slideWraper {
    width: 100%;
    height: 450px;
    align-items: center;
    justify-content: center;
    position: unset;
}
.sec01 .swiper-wrapper {
    height: 100%;
}
.sec01 .p_slide {
    width: 100%;
    height: 100%;
    gap: 30px;
}
.sec01 .p_slide .images {
    width: 70%;
    height: inherit;
}
.sec01 .p_slide .images img {
    width: 100%;
    height: inherit;
    border-radius: 30px;
    object-fit: cover;
}
.swiper-button-next, .swiper-button-prev {
    position: absolute;
    width: 80px;
    height: 80px;
    background: #000;
    z-index: 10;
    opacity: 0.8;
}
.swiper-button-next {
    right: 5%;
}
.swiper-button-prev {
    left: 5%;
}
.swiper-button-next::after, .swiper-button-prev::after {
    color: #fff;
}
.sec01 .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 20%;
}
.sec01 .swiper-pagination-bullet-active {
    background: var(--pink);
}
/* txtbox */
.txtBox {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    gap: 50px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}
.txtBox h1 {
    line-height: 1.25em;
}
.txtBox div {
    width: 100%;
    text-align: center;
}
.txtBox span {
    display: block;
    font-size: 1.125rem;
    font-weight: 500;
    text-align: center;
    margin: 10px 0;
}

/* 섹션2 */
.sec02 {
    padding: 0;
}
.sec02 .inner {
    flex-direction: column;
    justify-content: flex-start;
}
/* quick menu */
.quick {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 30px;
    gap: 20px;
    width: 100%;
    height: calc(100vh - 80%);
    border-bottom: 1px solid var(--line);
}
.quick h3 {
    line-height: 2.5rem;
}
.quick .icon {
    display: block;
    align-items: center;
    gap: 10px;
    width: 130px;
    height: 130px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.2);
    border-radius: 100px;
    position: relative;
    cursor: pointer;
}
.quick .icon:hover {
    transform: translate(0, -8%);
    transition: all 0.3s ease-in-out;
}
.quick .icon>a{
    display: flex;
    width: 100%;
    height: 100%;
}
.quick .icon a span {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4rem;
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, 0);
}
.quick .icon:nth-of-type(1) {
    background: url(/portfolio/cjculture/main/quick/quickmenu1.svg) no-repeat 50% 35% / 30%;
}
.quick .icon:nth-of-type(2) {
    background: url(/portfolio/cjculture/main/quick/quickmenu2.svg) no-repeat 50% 35% / 35%;
}
.quick .icon:nth-of-type(3) {
    background: url(/portfolio/cjculture/main/quick/quickmenu3.svg) no-repeat 50% 35% / 35%;
}
.quick .icon:nth-of-type(4) {
    background: url(/portfolio/cjculture/main/quick/quickmenu4.svg) no-repeat 50% 35% / 35%;
}
.quick .icon:nth-of-type(5) {
    background: url(/portfolio/cjculture/main/quick/quickmenu5.svg) no-repeat 50% 35% / 35%;
}
.quick .icon:nth-of-type(6) {
    background: url(/portfolio/cjculture/main/quick/quickmenu6.svg) no-repeat 50% 35% / 35%;
}
/* info */
.info {
    height: calc(100vh - 20%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    width: 100%;
}
.info .notice {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% - 30%);
    height: 80%;
    
}
/* 타이틀 */
.info .notice .title {width: 100%;}
.info .notice .title ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 30px 0 0 0;
}
.info .notice .title ul li {
    width: 130px;
    height: 50px;
}
.info .notice .title ul li.plus {
    width: 50px;
    background: #EEEEEE;
}
.info .notice .title ul li a {
    font-size: 1.25rem;
    font-weight: 500;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info .notice .title ul li.on, .info .notice .title ul li:hover {
    background: var(--line);
}
.info .notice .title ul li.on a, .info .notice .title ul li:hover a {
    color: #fff;
}
/* 공고란 */
.info .notice .contents {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 100%;
}
.info .notice .contents > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    flex: 1 1 276px;
    height: auto;
    margin: 0 -1px;
    width: calc(100% + 1px);
}
.info .notice .contents > div:hover > a {
    box-shadow: 3px 3px 12px rgb(0 0 0 / 20%);
    transition: all 0.2s ease-in;
}
.info .notice .contents > div > a {
    display: block;
    padding: 10px;
    border: 1px solid var(--ligthGray);
    margin: -1px;
    position: relative;
    width: calc(100% - 1px);
    height: calc(100% + 1px);
    -webkit-transition: .2s;
    transition: .2s;
}
.info .notice .contents > div > a .top {
    position: relative;
    display: block;
    width: 100%;
}
.info .notice .contents > div > a .top strong {
    font-weight: 400;
    color: #fff;
    padding: 5px 10px;
}
strong.nomal {
    background: var(--mint);
}
strong.job {
    background: var(--blue);
}
strong.volun {
    background: var(--oreng);
}
strong.bid {
    background: var(--red);
}
strong.result {
    background: var(--puple);
}
.info .notice .contents > div > a .top em {
    font-style: normal;
    color: var(--ligthGray);
    position: absolute;
    right: 0;
}
.info .notice .contents > div > a span:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.125rem;
    width: 100%;
    padding: 0 10px;
}

/* schedule */
.info .schedule {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: calc(100% - 70%);
    height: 80%;
}
.info .schedule .schd_box {
    margin: 30px 0 0 0;
    width: 100%;
    height: 70%;
    border: 1px solid var(--ligthGray);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-size: 1.25rem;
}
.info .schedule .schd_box > div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.info .schedule .schd_box > div.today {
    flex-direction: row;
    height: 15%;
    background: var(--line);
    font-weight: 500;
    color: #fff;
}
.info .schedule .schd_box .today a {
    height: 36px;
    width: 36px;
    margin: 0 10px;
    display: block;
}
.info .schedule .schd_box .today a:nth-of-type(1) {
    background: url(/portfolio/cjculture/main/chevron_left.png) no-repeat 50% 50% / 70%;
}
.info .schedule .schd_box .today a:nth-of-type(2) {
    background: url(/portfolio/cjculture/main/chevron_right.png) no-repeat 50% 50% / 70%;
}
.info .schedule .schd_box > div.schds {
    flex-direction: column;
    gap: 20px;
}
div.schds span {
    background: var(--lightPink);
    width: 90%;
    height: 1.75rem;
    border-radius: 15px;
    padding: 0 10px;
    line-height: 1.75rem;
    cursor: pointer;
}

/*  */
.info .schedule .bnr_box {
    margin: 30px 0 0 0;
    width: 100%;
    height: 30%;
    border: 1px solid var(--ligthGray);
    display: flex;
    flex-direction: column;
}
.bnr_box .page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}
.bnr_box .page span {
    font-size: 1rem;
    font-weight: 500;
    margin: 0 5px;
}
.bnr_box .page button {
    border: none;
    background: var(--line);
    color: #fff;
    width: 20px;
    height: 20px;
    overflow: hidden;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 500;
}
.bnr_box .banners {
    width: 100%;
    height: 90%;
    overflow: hidden;
    padding: 20px 10px;
    position: relative;
}
.bnr_box .banners img {
    width: calc(100% - 20px);
    object-fit: cover;
    position: absolute;
    background: #fff;
    border: 1px solid var(--ligthGray);
}



/* sec03 */
.sec03 .inner {
    flex-direction: column;
    width: 80%;
}
.sec03 .title {
    width: 100%;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    gap: 30px;
}
.sec03 .title p {
    font-size: 1.125rem;
}
.sec03 .poster {
    width: 100%;
    height: 100%;
    display: flex;
    flex: 1 1 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
}
.sec03 .poster div {
    height: 400px;
    border: 20px;
    position: relative;
}
.sec03 .poster div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
}
.sec03 .poster div:nth-of-type(2),
.sec03 .poster div:nth-of-type(4) {
    margin: 50px 0 0 0;
}
.sec03 .poster div:nth-of-type(3) {
    margin: 100px 0 0 0;
}
.sec03 .poster div .description {
    width: 100%;
    height: 30%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    border-radius: 0 0 20px 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    gap: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    transition: all .3s ease-in-out;
    cursor: pointer;
    color: #fff;
}
.sec03 .poster div:hover .description {
    height: 100%;
    border-radius: 20px;
}
/*  */
.sec04 {
    flex-direction: column;
    align-items: center;
    position: relative;
}
.sec04 .inner {
    flex-direction: column;
}
.sec04 h2 {
    width: 100%;
    text-align: center;
}
.space_slide {
    width: 100%;
    height: 100%;
    position: unset;
}
.sec04 .space_slide .space {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
}
.sec04 .space_slide .space .tbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    z-index: 12;
    transform: translate(15%, 0);
    width: 800px;
}
.sec04 .space_slide .space .tbox h3 {
    width: 100%;
    height: 50px;
    background: var(--pink);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.sec04 .space_slide .space .tbox h4 {
    width: 100%;
    text-align: left;
}
.sec04 .space_slide .space .tbox h4 em {
    font-style: normal;
    color: var(--pink);
}
.sec04 .space_slide .space .tbox p {
    text-align: left;
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.sec04 .space_slide .space .tbox a {
    font-size: 1.125rem;
    font-weight: 500;
    border: 2px solid var(--pink);
    color: var(--pink);
    padding: 5px 10px;
    transition: all .3s ease-in-out;
}
.sec04 .space_slide .space .tbox a:hover {
    border: 2px solid var(--pink);
    color: #fff;
    background: var(--pink);
}
.sec04 .space_slide .space .img {
    width: 100%;
}



/* 푸터 */
.sec04 footer {
    background: var(--line);
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
}
.sec04 footer .inner {
    flex-direction: row;
    align-items: flex-start;
    height: 100%;
    padding: 20px;
}
footer .footerTxt {
    display: flex;
    flex-direction: column;
    width: calc(100% - 20%);
    height: 100%;
    justify-content: space-between;
}
footer .footerTxt ul {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}
footer .footerTxt ul li {position: relative;}
footer .footerTxt ul li::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -10px;
    width: 1px;
    height: 100%;
    background-color: #fff;
}
footer .footerTxt ul li:nth-of-type(1)::after{display: none;}
footer .footerTxt a,
footer .footerTxt p {
    color: #fff;
    font-weight: 300;
}

footer .sns {
    width: calc(100% - 80%);
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
footer .sns a {
    text-indent: -9999px;
    width: 40px;
    height: 40px;
    transition: all 0.3s;
}
footer .sns a:nth-of-type(1) {
    background: url(/cjculture/main/sns_02_Facebook.svg) no-repeat 50% 50%;
}
footer .sns a:nth-of-type(2) {
    background: url(/cjculture/main/sns_01_Instagram.svg) no-repeat 50% 50%;
}
footer .sns a:nth-of-type(3) {
    background: url(/cjculture/main/sns_03_youtube.svg) no-repeat 50% 50%;
}
footer .sns a:hover {
    transform: translateY(-20%);
}




/* aside */
.swiper-pagination-vertical.swiper-pagination-bullets, .swiper-vertical>.swiper-pagination-bullets {
    position: fixed;
    top: 50%;
    right: 1%;
    z-index: 100;
}

aside .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: var(--ligthGray);
    position: relative;
    transition: all .5s;
}

aside .swiper-pagination-bullet::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border: 5px solid var(--ligthGray);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

aside .swiper-pagination-bullet-active {
    width: 10px;
    height: 10px;
}

aside .swiper-pagination-bullet-active::after {
    border: none;
    border-radius: unset;
}

.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet, 
.swiper-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: var(--swiper-pagination-bullet-vertical-gap, 40px) 0;
}