@charset "UTF-8";

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
body { max-width: 767px; min-width: 320px; } 
h1 { font-size: 2.125rem; font-weight: 600; } 
h2 { font-size: 2rem; font-weight: 600; } 
h3 { font-size: 1.5rem; font-weight: 500; } 
h4 { font-size: 1.25rem; font-weight: 500; line-height: 2rem; } 
:root { font-size: 15px; }


/* header */
.gnb > ul {
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1000;
}
.gnb ul > li {
    z-index: 1000;
    height: 50px;
}
.gnb ul > li a {
    line-height: 50px;
}
.gnb ul > li:nth-child(1) {
    border-top: 3px solid var(--yellowGreen);
    width: 80%;
}
.gnb ul > li:nth-last-child(1) {
    border-bottom: 3px solid var(--yellowGreen);
    width: 80%;
}
.gnb ul li .snb {
    height: 0;
}
.gnb ul .snb li {
    display: none;
    border: unset
}
.gnb ul > li > a {
    font-size: 1rem;
}
.gnb > ul > li > a::after {
    display: none;
}



/*  */
.sec01 .inner {
    align-items: flex-start;
    padding: 30px 0;
}
.sec01 .p_slide .images {
    width: 80%;
    margin: auto;
}
.txtBox {
    width: 80%;
    gap: 20px;
}
.txtBox span {
    color: #fff;
}
.swiper-button-next, 
.swiper-button-prev {
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
}
.swiper-button-next::after, 
.swiper-button-prev::after {
    font-size: 2rem;
}




/*  */
.sec02 .inner {
    padding: 30px 10px 0;
}
.quick h3 {
    display: none;
}
.quick .icon {
    border-radius: 7px;
    background-size: 50% !important;
}
.quick .icon:nth-of-type(1) {
    background-size: 40% !important;
}
.quick .icon a span {
    font-size: 0.75rem;
}
/*  */
.info .schedule {
    display: none;
}
.info {
    justify-content: flex-start;
    height: 100%;
}
.info .notice {
    flex-direction: row;
    height: 100%;
}
.info .notice .title {
    width: 25%;
    height: 100%;
}
.info .notice .title ul {
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.info .notice .title ul li,
.info .notice .title ul li.plus {
    width: 100%;
    height: 100%;
}
.info .notice .title ul li a {
    font-size: 0.95rem;
    font-weight: 400;
}
.info .notice .contents{
    height: 100%;
}
.info .notice .contents a {
    padding: 3px;
    height: calc((100% /6) + 1px);
}
/*  */
.info .notice .contents a .top {
    font-size: 0.95rem;
}
.info .notice .contents a .top strong {
    padding: 0px 4px;
}
.info .notice .contents a span:last-child {
    font-size: 0.95rem;
}



/*  */
.sec03 .title p {
    font-size: 0.95rem;
}
.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 50px;
    height: 50px;
    background: #000;
    z-index: 10;
    opacity: 0.7;
    cursor: pointer;
    border: none;
    outline: none;
    z-index: 50;
}
.slick-prev {
    left: 10%;
}
.slick-next {
    right: 10%;
}
.slick-prev::before {
    width: 25px;
    height: 3px;
    background: #fff;
    content: "";
    display: block;
    transform: translate(13px, -7px) rotate(-45deg);
    border-radius: 3px;
}
.slick-prev::after {
    width: 25px;
    height: 3px;
    background: #fff;
    content: "";
    display: block;
    transform: translate(13px, 7px) rotate(45deg);
    border-radius: 3px;
}
.slick-next::before {
    width: 25px;
    height: 3px;
    background: #fff;
    content: "";
    display: block;
    transform: translate(13px, -7px) rotate(45deg);
    border-radius: 3px;
}
.slick-next::after {
    width: 25px;
    height: 3px;
    background: #fff;
    content: "";
    display: block;
    transform: translate(13px, 7px) rotate(-45deg);
    border-radius: 3px;
}
.poster .slick-slide {
    width: 250px !important;
}
.sec03 .poster div img {
    width: 250px;
}



/*  */
.sec04 h2 {
    line-height: 2.5rem;
}
.sec04 .inner{
    padding: 0;
    gap: 0;
    height: calc(100% - 30%);
}
.sec04 .space_slide .space {
    position: relative;
}
.sec04 .space_slide .space .tbox {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    align-items: center;
    justify-content: space-between;
    height: 90%;
    width: 600px;
}
.sec04 .space_slide .space .tbox h4,
.sec04 .space_slide .space .tbox p {
    display: none;
}
.sec04 .space_slide .space .tbox h3 {
    width: fit-content;
    padding: 0 10px;
    transform: translatey(-10px);
}
.sec04 .space_slide .space .tbox a {
    background: #fff;
    transform: translatey(5px);
    padding: 10px 30px;
    border-radius: 30px;
}
.sec04 .space_slide .space .img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 80%;
    width: 100%;
}
.sec04 .space_slide .space .img > img {
    width: 100%;
    object-fit: cover;
}



/*  */
.sec04 footer {
    height: calc(100% - 70%);
}
.sec04 footer .inner {
    padding: 10px 30px;
    flex-direction: column;
}
footer .footerTxt {
    justify-content: flex-start;
    gap: 5px;
    width: 100%;
}
footer .footerTxt a, 
footer .footerTxt p {
    font-size: 0.8rem;
    line-height: 0.95rem;
}
footer .footerTxt ul {
    gap: 0 10px;
}
footer .footerTxt ul li::after {
    left: -5px;
    height: 0.8rem;
    top: 6px;
}
footer .sns {
    width: 100%;
}