@charset "UTF-8";

/* 폰트어썸 */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');
/* 구글아이콘 */
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');
/* 구글폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    /* outline: 1px solid red; */
}
body{
    min-width: 1280px;
}
:root{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    word-break: keep-all;
    word-wrap: break-word;
    --Blue: #1553A3;
    --garyFontColor: #4A4A4A;
    --darkGray: #353535;
    --yellow: #FDF4A7;
    --purple: #7E5192;
    --green: #2AC1BC;
}

h1 {font-size: 3rem; color: #fff;}
h2 {font-size: 1.75rem; text-align: center;}
li {list-style: none;}
a {color: var(--garyFontColor);}
a:link, a:visited {text-decoration: none;}
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}
.inner {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
}
.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px; 
    width: 100%;
    height: 150px;
}
.title>h2 {
    color: var(--Blue);
}
/* 애니메이션 넣기 */
.title>h2::before {
    content: "";
    display: block;
    width: 100px;
    height: 2px;
    background: var(--Blue);
    margin-bottom: 10px;
}
.title>p {
    font-size: 1.5rem;
    color: var(--garyFontColor);
    text-align: center;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;
}

/* header 시작 */
header {
    height: 75px;
}
header .inner {
    align-items: center;
    justify-content: space-around;
}
.inner .gnb {
    display: flex;
    flex-direction: row;
    padding: 18px 50px;
    gap: 50px;
}
.inner>a {
    text-indent: -9999px;
    background: url(/maeil/main/logo.svg) no-repeat 50% 50% / 100% auto;
    width: 114px;
    height: 52px;
    font-size: 1rem;
}

/* visual */
.visual {
    padding: 0;
    height: 750px;
}
.slide .images h1 {
    text-align: center;
}
.slide .one h1::after{
    content: "";
    display: block;
    width: 300px;
    height: 2px;
    background: #fff;
    margin-top: 30px;
    transform: translateX(10%);
}
.slide .two h1::after{
    content: "";
    display: block;
    width: 300px;
    height: 2px;
    background: #fff;
    margin-top: 30px;
    transform: translateX(0%);
}
.slide .three h1::after{
    content: "";
    display: block;
    width: 300px;
    height: 2px;
    background: #fff;
    margin-top: 30px;
    transform: translateX(3%);
}
.slide .images span {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    margin-top: 30px;
    color: #fff;
    width: 650px;
}
/* 비주얼 슬릭 슬라이드 */
.visual .slide {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.slide .images { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.one {
    background: url(/maeil/main/sec1_visu/visual01.jpg) no-repeat 50% 50% / cover;
}
.two {
    background: url(/maeil/main/sec1_visu/visual02.jpg) no-repeat 50% 50% / cover;
}
.three {
    background: url(/maeil/main/sec1_visu/visual03.jpg) no-repeat 50% 50% / cover;
}
.slide .slick-list,
.slide .slick-track {
    height: 100%;
    width: 100%;
    display: flex;
}
.slide .slick-arrow {
    position: absolute;
    z-index: 100;
    text-indent: -9999px;
    width: 70px;
    height: 70px;
    border: none;
    top: 50%;
}
.slide .slick-arrow:nth-of-type(1) {
    left: 0;
    background: url(/maeil/main/chevron_left.svg) no-repeat 50% 50%;
}
.slide .slick-arrow:nth-of-type(2) {
    right: 0;
    background: url(/maeil/main/chevron_right.svg) no-repeat 50% 50%;
}
.slide .slick-dots {
    display: flex;
    flex-direction: row;
    z-index: 150;
    transform: translate(48%, -600%);
}
.slick-dots li {
    display: flex;
    justify-content: center;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.slick-dots li.slick-active{
    width: 50px;
    transition: all 300ms ease-in-out;
}
.slick-dots li button{
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    text-indent: -9999px;
    border-radius: 50px;
    border: none;
}

/* 어바웃 */
.about {
    height: 488px;
}
.about .inner {
    flex-direction: column;
    justify-content: center;
}
.about .title>h2::before {
    transform: translateX(165%);
}
.about .container {
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;
    height: 300px;
}
.about .container .con {
    display: inline-block;
    width: 150px;
    text-align: center;
}
.about .container .con > span {
    font-size: 1rem;
    color: var(--garyFontColor);
}
.about .container .con > span:nth-of-type(1) {
    font-size: 2.5rem;
    font-weight: 500;
}
.about .container .con > span:nth-of-type(3) {
    display: block;
    margin-top: 10px;
}

/* 사회공헌 시작 */
.contribution {height: 750px;}
.contribution .inner {
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.contribution .title>h2::before {
    transform: translateX(2%);
}
.container {
    gap: 10px;
}
.container .social {
    width: 222px;
    height: 500px;
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    gap: 10px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
}
.container .social>p:nth-of-type(1){
    bottom: 0;
    font-size: 1.5rem;
}
.container .social>p:nth-of-type(2),
.container .social>a {
    display: none;
}
.container .social>a {
    color: #fff;
    padding: 4px 20px;
    border: 1px solid #fff;
    border-radius: 50px;
}
.container .social>a:hover {
    color: var(--Blue);
    padding: 4px 20px;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 50px;
}
.container .social:nth-of-type(1) {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 11.46%, rgba(0, 0, 0, 0.35) 47.92%, rgba(0, 0, 0, 0.5) 100%), url(/maeil/main/sec3_social/contribution01.jpg) no-repeat 50% 50% / cover;
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: multiply;
}
.container .social:nth-of-type(2) {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 11.46%, rgba(0, 0, 0, 0.35) 47.92%, rgba(0, 0, 0, 0.5) 100%), url(/maeil/main/sec3_social/contribution02.jpg) no-repeat 50% 50% / cover;
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: multiply;
}
.container .social:nth-of-type(3) {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 11.46%, rgba(0, 0, 0, 0.35) 47.92%, rgba(0, 0, 0, 0.5) 100%), url(/maeil/main/sec3_social/contribution03.jpg) no-repeat 50% 50% / cover;
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: multiply;
}
.container .social:nth-of-type(4) {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 11.46%, rgba(0, 0, 0, 0.35) 47.92%, rgba(0, 0, 0, 0.5) 100%), url(/maeil/main/sec3_social/contribution04.jpg) no-repeat 50% 50% / cover;
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: multiply;
}
.container .social:nth-of-type(5) {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 11.46%, rgba(0, 0, 0, 0.35) 47.92%, rgba(0, 0, 0, 0.5) 100%), url(/maeil/main/sec3_social/contribution05.jpg) no-repeat 50% 50% / cover;
    background-color: rgba(255, 255, 255, 0.7);
    background-blend-mode: hard-light;
}

/* 사업분야 시작 */
.business {
    height: 400px; 
    flex-direction: row;
}
.business>div {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.business>div.left {
    background: var(--Blue);
    color: #fff;
}
.business>div.right {
    background: url(/maeil/main/sec4_global.jpg) no-repeat 50% 50% / cover;
    color: #fff;
}
.business>div.right:hover {
    background-size: 120%;
    transition: all 300ms ease-in-out;
    color: #fff;
}
.business > div > .tbox {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
}
.business>div>.tbox>a {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50px;
    width: 160px;
    padding: 4px 0;
    text-align: center;
}
.business>div>.tbox>a:hover {
    color: var(--Blue);
    padding: 4px 20px;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 50px;
}

/* 윤리경영 시작 */
.management {
    height: 750px;
}
.management .inner {
    flex-direction: column;
}
.management .title>h2::before {
    transform: translateX(31%);
}
.management .container div {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    padding: 0px;
    width: 280px;
    height: 500px;
    color: #fff;
    border-radius: 10px;
    padding: 10px 20px;
}
.management .container div>p:nth-of-type(1) {
    font-size: 1.5rem;
}
.management .container div>p:nth-of-type(2) {
    font-size: 1rem;
    font-weight: 300;
}
.management .container div:nth-of-type(1) {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 11.46%, rgba(0, 0, 0, 0.35) 47.92%, rgba(0, 0, 0, 0.5) 100%), url(/maeil/main/sec5_manage/management01.png) no-repeat 50% 50% / cover;
}
.management .container div:nth-of-type(2) {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 11.46%, rgba(0, 0, 0, 0.35) 47.92%, rgba(0, 0, 0, 0.5) 100%),url(/maeil/main/sec5_manage/management02.png) no-repeat 50% 50% / cover;
}
.management .container div:nth-of-type(3) {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 11.46%, rgba(0, 0, 0, 0.35) 47.92%, rgba(0, 0, 0, 0.5) 100%),url(/maeil/main/sec5_manage/management03.png) no-repeat 50% 50% / cover;
}
.management .container div:nth-of-type(4) {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 11.46%, rgba(0, 0, 0, 0.35) 47.92%, rgba(0, 0, 0, 0.5) 100%),url(/maeil/main/sec5_manage/management04.png) no-repeat 50% 50% / cover;
}
.management .container div:nth-of-type(1):hover {
    flex: 2 1 0;
    transition: all 300ms ease-in-out;
}
.management .container div:nth-of-type(2):hover {
    flex: 2 1 0;
    transition: all 300ms ease-in-out;
}
.management .container div:nth-of-type(3):hover {
    flex: 2 1 0;
    transition: all 300ms ease-in-out;
}
.management .container div:nth-of-type(4):hover {
    flex: 2 1 0;
    transition: all 300ms ease-in-out;
}

/* 브랜드 시작 */
.brand {
    height: 480px;
    background: #F2F2F7;
}
.brand .inner {
    flex-direction: column;
}
.brand .title>h2::before {
    transform: translateX(0%);
}
.brand .container {
    height: 260px;
}
.brand .slide_brn .milk {
    background: url(/maeil/main/sec6_brand/brand01.jpg) no-repeat 50% 50% / cover;
}
.brand .slide_brn .absol {
    background: url(/maeil/main/sec6_brand/brand02.png) no-repeat 50% 50% / cover;
}
.brand .slide_brn .sang {
    background: url(/maeil/main/sec6_brand/brand03.png) no-repeat 50% 50% / cover;
}
.brand .slide_brn .bio {
    background: url(/maeil/main/sec6_brand/brand04.png) no-repeat 50% 50% / cover;
}
.brand .slide_brn .barista {
    background: url(/maeil/main/sec6_brand/brand05.png) no-repeat 50% 50% / cover;
}
.brand .slide_brn .sun {
    background: url(/maeil/main/sec6_brand/brand06.jpg) no-repeat 50% 50% / cover;
}
.brand .slide_brn .well {
    background: url(/maeil/main/sec6_brand/brand07.jpg) no-repeat 50% 50% / cover;
}
/* 브랜드 슬릭 커스텀 */
.brand .slide_brn {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.brand .slide_brn { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.slide_brn .slick-list {
    height: 200px;
    overflow: hidden;
}
.slide_brn .slick-track {
    width: 100% !important;
    display: flex;
    justify-content: center
}
.slide_brn .slick-dots {
    display: none !important;
}
.slide_brn .slick-slide {
    text-indent: -9999px;
    display: inline-block;
    height: 200px;
    padding: 0 100px;
    margin: 0 5px;
}
.slide_brn .slick-arrow {
    position: absolute;
    z-index: 100;
    text-indent: -9999px;
    width: 45px;
    height: 200px;
    border: none;
}
.slide_brn .slick-arrow:nth-of-type(1) {
    left: 0;
    background: rgba(0, 0, 0, 0.2) url(/maeil/main/chevron_left.svg) no-repeat 50% 50% / 30%;
}
.slide_brn .slick-arrow:nth-of-type(2) {
    right: 0;
    background: rgba(0, 0, 0, 0.2) url(/maeil/main/chevron_right.svg) no-repeat 50% 50% / 30%;
}

/* 공지사항 시작 */
.notice {height: 670px; flex-direction: row; color: var(--garyFontColor);}
.notice div[class*="box0"] {
    display: flex;
    flex-direction: column;
    padding: 30px 30px;
    gap: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.box01 {
    width: 453px;
    height: 570px;
    margin-right: 10px;
}
.notice .bTitle {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.notice .bTitle i {
    font-size: 1.5rem;
}
.box01 table {
    height: 100%;
}
.box01 table tbody {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.box01 table tr {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.box01 table tr>td:first-child {
    width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}
.notice .boxR {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 570px;
    gap: 10px;
}
.notice .box02,
.notice .box03 {
    height: 100%;
}
.notice .box02 {
    background: url(/maeil/main/maeil.png) no-repeat 100% 65% / 85%;
}
.notice .box02 p {
    width: 55%;
}
.box03 .ir {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
}
.box03 .changes01 strong {
    font-size: 3rem;
}
.box03 .changes02 {
    display: flex;
    flex-direction: row;
    font-size: 1.75rem;
    gap: 15px;
}
.box03 .changes02>div>div {
    display: none; 
    align-items: center; 
    gap: 5px;
}
.box03 .changes02>div>div.up {
    display: flex; 
}
.box03 .changes02>div>div>i {
    color: #d62013; 
    font-size: 1.25rem;
}
.box03 .changes02>div>div.up>i {
    color: var(--Blue);
}

/* 푸터 시작 */
footer {
    height: 150px;
    background: #464D5D;
    color: #fff;
    font-size: 1rem;
}
footer a {
    color: #fff;
    font-size: 1rem;
}
footer .inner {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
footer .inner .left>a.tel {
    font-size: 2rem;
    font-weight: 500;
}
footer .inner .left>div {
    background: #F2F2F7;
    margin: 10px 0;
    width: 246px;
    height: 28px;
}
footer .inner .left>div::after {
    content: "";
    display: block;
    width: 28px;
    height: 28px;
    background: #2F3545;
    transform: translate(780%, -172%);
    z-index: 100;
}
/* 1 */
footer .inner .left>div>a {
    color: var(--garyFontColor);
    padding: 0 0 0 10px;
}
footer .inner .left>div>a::after {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background: url(/maeil/main/chevron_right.svg) no-repeat 50% 50%;
    transform: translate(920%, -95%);
    z-index: 300;
}
/* 2 */
footer .inner .center {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
footer .inner .center ul {
    display: flex;
    flex-direction: row;
}
footer .inner .center ul>li {
    padding-right: 5px;
}
footer .inner .center ul>li::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 1rem;
    background: #fff;
    margin-left: 5px;
}
footer .inner .center ul>li:last-child::after {
    display: none;
}
footer .inner .center address {
    font-style: normal;
}
/* 3 */
footer .inner .rigth {
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .inner .rigth .sns {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
footer .inner .rigth .sns>li>a {
    text-indent: -9999px;
    display: block;
    width: 30px;
    height: 30px;
}
footer .inner .rigth .sns>li:nth-of-type(1)>a {
    background: url(/maeil/main/sns_01_Instagram.svg) no-repeat 50% 50% / cover;
}
footer .inner .rigth .sns>li:nth-of-type(1)>a:hover {
    background: url(/maeil/main/sns_01_InstagramHover.svg) no-repeat 50% 50% / cover;
}
footer .inner .rigth .sns>li:nth-of-type(2)>a {
    background: url(/maeil/main/sns_02_Facebook.svg) no-repeat 50% 50% / cover;
}
footer .inner .rigth .sns>li:nth-of-type(2)>a:hover {
    background: url(/maeil/main/sns_02_FacebookHover.svg) no-repeat 50% 50% / cover;
}
footer .inner .rigth .sns>li:nth-of-type(3)>a {
    background: url(/maeil/main/sns_03_youtube.svg) no-repeat 50% 50% / cover;
}
footer .inner .rigth .sns>li:nth-of-type(3)>a:hover {
    background: url(/maeil/main/sns_03_youtubeHover.svg) no-repeat 50% 50% / cover;
}
footer .inner .rigth .sns>li:nth-of-type(4)>a {
    background: url(/maeil/main/sns_04_naverBlog.svg) no-repeat 50% 50% / cover;
}
footer .inner .rigth .sns>li:nth-of-type(4)>a:hover {
    background: url(/maeil/main/sns_04_naverBlogHover.svg) no-repeat 50% 50% / cover;
}
footer .inner .rigth .selectBox .site {
    background: #F2F2F7;
    padding: 0 50px;
    color: var(--garyFontColor);
    border-radius: 30px;
}
footer .rigth .selectList{
    background: #F2F2F7;
    padding: 0 0 0 10px ;
    border-radius: 10px;
}
footer .rigth .selectList a {
    color: var(--garyFontColor);
}




footer .rigth .selectList {
    display: none;
}